<center><h1> Register </h1></center>
<% if current_user %>
  <%= link_to "Logout", "/logout", method: :delete %>
<% else %>
  <%= link_to "Register", '/register' %>
  <%= link_to "Log In", '/login' %>
<% end %>

<%= form_with url: "/users", method: :post, local: true do |f| %>
  <center><%= f.label :name %>
  <%= f.text_field :name %></center>
   <br>
  <center><%= f.label :email %>
  <%= f.text_field :email %></center>
   <br>
  <center><%= f.label :password %>
  <%= f.text_field :password %></center>
   <br>
  <center><%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %></center>
   <br>
  <center><%= f.submit  "Submit"%></center>
<% end %>
