<center><h1> Register </h1></center>

<%= form_with url: "/users", method: :post, local: true do |f| %>
  <center><%= f.label :name %>
  <%= f.text_field :name %></center>
   <br>
  <center><%= f.label :email %>
  <%= f.text_field :email %></center>
   <br>
  <center><%= f.submit  "Submit"%></center>
<% end %>
